{% extends '_base.html' %}
{% load static %}
{% block title %}Movie {{ movie.title }} Detail{% endblock %}

{% block content %}

<div class="relative text-white" style="background-color: rgb(30, 30, 30);">
    <div class="relative w-full h-[500px] overflow-hidden">
        <video class="absolute inset-0 w-full h-full object-cover brightness-50" autoplay loop muted>
            <source src="{% static 'videos/' %}{{ movie.video }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="container mx-auto p-8">
        <div class="flex flex-col lg:flex-row gap-8">
            <div class="lg:w-2/3">
                <h1 class="text-5xl font-extrabold mb-6 border-b border-red-600 pb-4">{{ movie.title }}</h1>
                
                <p class="text-lg leading-relaxed mb-6">
                    {{ movie.description }}
                </p>
    
                <div class="text-lg space-y-4 mb-8">
                    <p><span class="font-semibold">Release Date:</span> {{ movie.release_date }}</p>
                    <p><span class="font-semibold">Director:</span> {{ movie.director }}</p>
                    <p><span class="font-semibold">Genre:</span> {{ movie.genre }}</p>
                    <p><span class="font-semibold">Main Cast:</span> {{ movie.main_cast }}</p>
                </div>
    
                <div>
                    <img src="{% static 'images/' %}{{ movie.actor_image }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image2 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info2 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image3 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info3 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image4 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info4 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image5 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info5 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image6 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info6 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image7 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info7 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image8 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info8 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image9 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info9 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image10 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info10 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>
                
                <div class="mt-8">
                    <img src="{% static 'images/' %}{{ movie.actor_image11 }}" class="rounded-lg shadow-lg object-cover w-full h-96">
                </div>

                <div class="mt-12">
                    <h3 class="text-sl font-bold mb-6 text-white">{{ movie.info11 }}</h3>
                    <p class="text-lg leading-relaxed">
                        {{ movie.overview }}
                    </p>
                </div>

            </div>
    
            <div class="bg-neutral-800 rounded-lg p-6" style="width: 400px; height: 900px;">
                <h2 class="text-2xl font-semibold mb-6 text-red-500 border-b border-red-600 pb-4">Actors</h2>
                <div class="grid grid-cols-2 gap-6">
                    {% for actor in movie.actors %}
                    <div class="text-center">
                        <img src="{% static 'images/' %}{{ actor.image }}" class="w-24 h-24 object-cover rounded-full mx-auto shadow-md">
                        <p class="mt-3 text-white text-sm font-medium">{{ actor.name }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const slider = document.getElementById('imageSlider');
            const prevButton = document.getElementById('prevImage');
            const nextButton = document.getElementById('nextImage');

            let currentIndex = 0;
            const images = slider.children;
            const totalImages = images.length;

            function updateSliderPosition() {
                const offset = -currentIndex * 100;
                slider.style.transform = `translateX(${offset}%)`;
            }

            nextButton.addEventListener('click', function () {
                currentIndex = (currentIndex + 1) % totalImages;
                updateSliderPosition();
            });

            prevButton.addEventListener('click', function () {
                currentIndex = (currentIndex - 1 + totalImages) % totalImages;
                updateSliderPosition();
            });
        });
    </script>
{% endblock %}
